h1{									
	display: block;		/* This means that each <h1> tag is a seperate block Spans across whole width of the page*/
	margin: 5px;
	background-color: #fcf; /* Keep any background color, it doesn't matter */
	border-radius: 20%;		/* This feature makes the block have ROUNDED edges. can be % or px */
	padding: 15px;			/* Space around the text in the block */
	font-size: 30px;
	font-style: italic;
	text-align: center;
}
stdList{
	background-color: gray;
}

student{
	display: inline-block;	/* This means that its a block WRAPPED around the longest text in that block */
	border-radius: 10%;
	background-color: #ffa;
	margin: 10px;
	padding: 15px;
	text-align: center;

}

usn, name, collName, branch, joinYear, email{
	display: block;		/* the reason we make them a block is that each of these tags can begin in a new line */
}
